<%= render 'search_form' %>

<div id="results" style="display: none">
  <table id="stock_table"  class="table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>品名</th>
        <th>规格</th>
        <th>包装单位</th>
        <th>厂家</th>
        <th>库存数量</th>
      </tr>
    </thead>
    <tbody id="content">
      <%= render partial: 'stock', collection: @stocks, as: :stock %>
    </tbody>
  </table>
  <div id="paginator">
    <%= render 'pagination' %>
  </div>
</div>

<script>
  $('#download').click(function(){
    var name = $('#stock_name').val();
    var downloadLink = $(this).attr('href');
    downloadLink += '?search=true&name=' + name;
    $(this).attr({'href': downloadLink});
    return true;
  });
</script>
