<% cache :extral_assets do %>
  <link href="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/themes/classic.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/themes/classic.date.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/picker.js"></script>
  <script src="//cdn.bootcss.com/pickadate.js/3.5.6/compressed/picker.date.js"></script>
<% end %>

<% cache :stock_search_form do %>
  <%= render 'search_form' %>
<% end %>

<div id="results" style="display: none">
  <table id="stock_table"  class="table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>品名</th>
        <th>规格</th>
        <th>包装单位</th>
        <th>厂家</th>
        <th>库存数量</th>
      </tr>
    </thead>
    <tbody id="content">
      <% cache :stock_collection do %>
        <%= render partial: 'stock', collection: @stocks, as: :stock %>
      <% end %>
    </tbody>
  </table>
  <% cache :stock_paginator do %>
    <div id="paginator">
      <%= render 'pagination' %>
    </div>
  <% end %>
</div>
<% cache :stock_index_script do %>
<script>
  $('#download').click(function(){
    var name = $('#stock_name').val();
    var downloadLink = $(this).attr('href');
    downloadLink += '?search=true&name=' + name;
    $(this).attr({'href': downloadLink});
    return true;
  });
</script>
<% end %>
